<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>How To MySql</title>
</head>
<body>
    <h1>Welcome to How To MySql</h1>

    <h4>Register Link</h4>
    <a href="/register">Register</a>

    <h4>Login Link</h4>
    <a href="/login">Login</a>
</body>
</html>